$back-col: #fff;
/*Change it later if it's fucked*/

:root {
  font-size: 22px;
}

#priceTag {
  margin: 0 !important;
}

html {
  height: 100vh;
  width: 100%;
  background: $back-col;
}

h1 {
  margin-top: 0.50rem;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

img {
  border-radius: 15px;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #a449af;
  transition: all 0.4s ease-in-out;
}

a:hover {
  transition: all 0.4s ease-in-out;
  color: #000;
}

.card-body {
  display: flex;
  justify-content: center;
}
.card {
  margin-top: 5rem;
  max-width: 20rem;
  display: flex;
  justify-content: center;
}

.flex-col {
  flex-direction: column-reverse;
  justify-content: space-around;
  margin-top: 5rem;
}

#card-data {
  margin-top: 2rem;
  font-size: 20px;
  line-height: 1.7rem;
}

@media (min-width:1050px) {
  .flex-col {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;

    #card-data {
      font-size: 23px;

    }
  }
}

.btn {
  color: white;
  border: none;
  background: #303030;
  border-radius: 999px;
  padding: 0.3rem 2rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.btn {

  transition: all 0.1s ease-in-out;
}

br {
  height: 0.2rem;
}

/*TODO: clean this file up and actually style the page */